{% extends 'base.html' %}
{% block title %}Buy a ticket{% endblock %}

{% block page_body %}

<h1 class="text-center title">Buy a ticket</h1>

<div class="row g-6 justify-content-center border rounded-3 shadow-lg p-4 mx-5 mb-5">
    <div class="col-md-7 col-lg-8">
        <form class="needs-validation" novalidate>
            <div class="row g-3 text-white">
                <div class="col-sm-6">
                    <label for="firstName" class="form-label">First name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        Un prénom valide est requis.
                    </div>
                </div>

                <div class="col-sm-6">
                    <label for="lastName" class="form-label">Last name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        Un nom valide est requis.
                    </div>
                </div>

                <div class="col-sm-6">
                    <label for="type" class="form-label">Type of ticket</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Choose a type of ticket</option>
                        <option value="1">Normal ticket</option>
                        <option value="2">Student ticket</option>
                        <option value="3">Child ticket</option>
                    </select>
                    <div class="invalid-feedback">
                        Un type valide est requis.
                    </div>
                </div>

                <div class="col-sm-6">
                    <label for="duree" class="form-label">Duration of ticket</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Choose a duration of ticket</option>
                        <option value="1">1 h</option>
                        <option value="2">1 day</option>
                        <option value="3">1 week</option>
                    </select>
                    <div class="invalid-feedback">
                        Un type valide est requis.
                    </div>
                </div>

                <div class="col-sm-6">
                    <label for="nombre" class="form-label">Number of ticket</label>
                    <input type="number" class="form-control" id="lastName" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        Un nombre valide est requis.
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button class="main-btn btn" type="submit">Buy ticket</button>
                </div>
            </div>
        </form>

    </div>
</div>
{% endblock %}